<div class="container">
  <div class="orders">
    <mat-list>
      <mat-list-item>Item 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>
  </div>

  <div class="checkout">
    <div class="info">
      <label>Total(USD)</label>
      <span>$999.99</span>
    </div>
    <button mat-raised-button color="primary">Continue Shipping</button>
    <button mat-raised-button color="warn">Checkout</button>
  </div>
</div>
