<div class="container">
  <div class="orders">
    <div class="order-item" *ngFor="let productObj of cart.products">
      <img [src]='productObj?.product?.imageUrl'>
      <div>
        <label>{{ productObj?.product?.name }}</label>
      </div>
      <div>
        <label>x{{ productObj?.quantity }}</label>
      </div>
      <div>
        <label *ngIf="productObj?.quantity && productObj?.product?.price">{{ productObj!.quantity * productObj!.product!.price }}</label>
        <label *ngIf="!productObj?.quantity || !productObj?.product?.price">N/A</label>
      </div>
      <div>
        <button mat-button>Remove</button>
      </div>
    </div>
  </div>

  <div class="checkout">
    <div class="info">
      <label>Total(USD)</label>
      <span>${{total}}</span>
    </div>
    <div class="actions">
      <button mat-raised-button color="primary" [routerLink]="'/view-products'">Continue Shipping</button>
      <button mat-raised-button color="warn">Checkout</button>
    </div>
  </div>
</div>
