.container,
.info {
  display: flex;
  justify-content: space-between;
}

.container {
  margin-top: 10px;
}

.info {
  height: 200px;
  border: 1px solid #808080;
  margin-bottom: 15px;
  padding: 10px;
}

.checkout {
  width: 30%;
}

.orders {
  width: 65%;
}

.orders img {
  width: 70px;
  height: 70px;
  margin-right: 30px;
}

button {
  width: 160px;
  margin-right: 10px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
}

.order-item div {
  flex: 1;
}
