mat-form-field {
  display: block;
  margin-bottom: var(--space-y-s);
}

input[type="file"] {
  visibility: hidden;
}

.image-upload {
  justify-content: flex-start;
}

.image-upload .action {
  width: 150px;
}

.image-preview {
  width: 380px;
  height: 300px;
  border: 1px solid #808080;
  padding: var(--space-xy-xs);
}

.image-preview > img {
  max-width: 380px;
  max-height: 300px;
}

