<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title ft-cursive" [routerLink]="'/'">Bucket</span>
    <span class="spacer"></span>
    <form *ngIf="displaySearchBar" [formGroup]="searchForm" class="search-form" (ngSubmit)="onSearch()">
      <input class="ft-cursive" type="text" placeholder="Enter product name" formControlName="search" (blur)="onSearchBlur()">
    </form>
    <div class="options">
      <span
        class="material-icons"
        (click)="onToggleSearch()"
        matTooltip="Search your product"
        [matTooltipPosition]="matTooltipPosition">
        search
      </span>
      <span
        *ngIf="isAuth && isAdmin"
        class="material-icons"
        [routerLink]="'/view-admin'"
        [matTooltip]="UserOptions.ADMIN"
        [matTooltipPosition]="matTooltipPosition">
        admin_panel_settings
      </span>
      <span
        *ngIf="isAuth"
        [matBadge]="cartProductNumber"
        matBadgeColor="warn"
        class="material-icons"
        [routerLink]="'/cart'"
        [matTooltip]="UserOptions.CART"
        [matTooltipPosition]="matTooltipPosition">
        shopping_cart
      </span>
      <span
        *ngIf="isAuth"
        class="material-icons"
        (click)="onSignOut()"
        [matTooltip]="UserOptions.SIGN_OUT"
        [matTooltipPosition]="matTooltipPosition">
        logout
      </span>
      <span
        *ngIf="!isAuth"
        class="material-icons"
        [routerLink]="'/signup'"
        [matTooltip]="UserOptions.SIGN_UP"
        [matTooltipPosition]="matTooltipPosition">
        person_add
      </span>
      <span
        *ngIf="!isAuth"
        class="material-icons"
        [routerLink]="'/signin'"
        [matTooltip]="UserOptions.SIGN_IN"
        [matTooltipPosition]="matTooltipPosition">
        login
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
