.spacer {
  flex: 1 1 auto;
}

.title {
  cursor: pointer;
  font-size: var(--fs-xl);
}

.options span {
  margin-left: var(--space-x-m);
  cursor: pointer;
}

.options span:hover {
  text-shadow: 2px 2px #9003fc;
}

.options .material-icons {
  font-size: var(--fs-xl);
}

span {
  color: var(--white);
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.search-form input {
  width: 100%;
  border-radius: 10px;
  border-color: transparent;
  height: 40px;
  font-size: var(--fs-m);
  outline: 0;
}

.logo {
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
}
