.spacer {
  flex: 1 1 auto;
}

.title {
  cursor: pointer;
  font-size: 40px;
  font-family: cursive;
}

.options span {
  margin-left: 15px;
  cursor: pointer;
}

.options span:hover {
  text-shadow: 2px 2px #9003fc;
}

.options .material-icons {
  font-size: 35px;
}

.options {
  display: flex;
  justify-content: center;
}

span {
  color: #ffffff
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.search-field input {
  width: 100%;
  border-radius: 10px;
  border-color: transparent;
  height: 40px;
  margin-top: 7px;
  font-family: cursive;
  font-size: 20px;
  outline: 0;
}
