<mat-toolbar color="primary">
  <span class="title" [routerLink]="'/'">Bucket</span>
  <span class="spacer"></span>
  <div *ngIf="isAuth" class="options">
    <span *ngIf="isAdmin" [routerLink]="'/view-admin'">{{ USER_OPTIONS.ADMIN }}</span>
    <span [routerLink]="'/cart'">{{ USER_OPTIONS.CART }}</span>
    <span (click)="onSignOut()">{{ USER_OPTIONS.SIGN_OUT }}</span>
  </div>
  <div *ngIf="!isAuth" class="options">
    <span [routerLink]="'/signup'">{{ USER_OPTIONS.SIGN_UP }}</span>
    <span [routerLink]="'/signin'">{{ USER_OPTIONS.SIGN_IN }}</span>
  </div>
</mat-toolbar>
