<div class="content">
  <form class="forget-form" [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
    <label class="title">Reset Password</label>
    <div class="form-field">
      <label>Please enter the email of your registered account</label>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
               placeholder="Ex. jerry@example.com">
        <mat-error *ngIf="forgetForm.controls.email.hasError('email') && !forgetForm.controls.email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="forgetForm.controls.email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button class="submit" color="accent" type="submit" [disabled]="!forgetForm.valid || durationCounter !== 0">Send Email</button>
  </form>

  <div class="info">
    <div *ngIf="durationCounter !== 0">You can send another reset mail after <strong>{{ durationCounter }}</strong> seconds.</div>
  </div>
</div>
