<mat-grid-list class="product-list" [cols]="cols" [gutterSize]="'20px'" rowHeight="400px">
  <mat-grid-tile *ngFor="let product of products">
    <div class="product">
      <img mat-card-image [src]="product.imageUrl" [routerLink]="['/view-detail', product._id]">
      <label class="title">
        {{ product.name }}
      </label>
      <hr />
      <div class="content-footer">
        <label>${{ product.price }}</label>
        <div class="actions">
          <span class="material-icons">
            favorite
          </span>
          <span class="material-icons" (click)="onAddToCart(product._id)">
            shopping_cart
          </span>
          <span class="material-icons" (click)="onDelete(product._id)">
            delete
          </span>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
