@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

label {
  font-weight: 900;
}

.container {
  padding-top: 20px;
}

.custom-snack-bar {
  background-color: #ff6f61;
  font-weight: 900;
  color: #ffffff;
}

.loading {
  display: flex;
  justify-content: center;
  padding: 200px 0px;
}

.spinner span {
  margin: 20px;
  display: inline-block;
  font-weight: 700;
  font-family: cursive;
}

mat-spinner {
  margin: auto;
}
