.shipping,
.billing,
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-top: 30px;
}

.input-fields {
  display: flex;
  flex-direction: column;
}

.input-fields mat-checkbox {
  margin-bottom: 40px;
}

.input-row:nth-last-child(2) mat-form-field {
  width: 100%;
}

.input-row:last-child mat-form-field:not(:last-child) {
  padding-right: 10px;
}

.title {
  margin-bottom: 30px;
}

label {
  margin-right: 15px;
}

mat-list-item span {
  margin-right: 20px;
}

.info {
  display: flex;
}

.info span {
  align-self: center;
}

.material-icons {
  color: #ffc107;
}

.action-btns {
  margin-top: 20px;
}

.action-btns button {
  margin-right: 15px;
}

